:root {
    --primary-text-color: #000000;
    --title-text-color: #212121 ;
    --accent-color: #2196F3 ;
    --contact-text-color: #757575;
    --body-color: #FFFFFF;
    --background-primary-color: #2F303A;
    --filter-text-color: #F5F4FA;
    --contacts-footer-color: rgba(255, 255, 255, 0.6);
}


